footer{
    margin-top: 10rem;
    width: 100%;
    /* position:; */
    bottom:0%;
    background-image: linear-gradient(to right,rgb(255, 234, 42),rgb(247, 58, 121));
          color: rgb(0, 0, 0);
          padding: 100px 0 30px;
          border-top-left-radius: 125px;
          font-size: 13px;
          line-height: 20px;
          background-position: 0%;
          background-size:100%;
          
        }
        .row{
          width: 85%;
          margin: auto;
          display: flex;
          flex-wrap: wrap;
          align-items: flex-start;
          justify-content: space-between;
        
        }
        .col{
        flex-basis: 25%;
        padding: 10px;
        }
        .col :nth-child(2){
          flex-basis: 15%;
        }
        .logo{
          width: 80px;
          margin-bottom: 30px;
        
        }
        .col h3{
          width: fit-content;
          margin-bottom: 40px;
          position: relative;
          font-size:15px;
        
        }
        .email-id{
          width: fit-content;
          border-bottom: 1px solid rgb(0, 0, 0);
          margin: 20px 0;
        }
        ul li{
          list-style: none;
          margin-bottom: 12px;
        }
        ul li a{
          text-decoration: none;
          color: rgb(0, 0, 0);
        }
        
        form {
          padding-bottom: 15px;
        
          display:flex;
          align-items: center;
          justify-content:space-between;
          border-bottom: 1px solid rgb(0, 0, 0);
          margin-bottom: 50px;
        }
        
        form .fa-solid{
             font-size: 14px;
             margin-right: 10px;
             padding: 4px;;
          }
        form input{
          width: 100%;
          background: transparent;
          color: rgb(0, 0, 0);
          border: 0;
          outline: none;
        
        }
        form button {
          background: transparent;
          border: 0;
          outline:none;
          cursor: pointer;
        }
        form button .fas{
          font-size: 16px;
          color: rgb(0, 0, 0);
        
        
        }
        .social-icons .fa-brands{
          width: 40px;
          height: 40px;
          border-radius: 50%;
          text-align: center;
          line-height: 40px;
          font-size: 20px;
          color: #000;
          background: rgb(252, 218, 26);
          margin-right: 15px;
          cursor: pointer;
        }
        hr{
          width: 90%;
          border: 0;
          border: 0;
          border-bottom: 1px solid rgb(0, 0, 0);
          margin: 20px auto;
        }
        
        .copyright{
          text-align: center;
        
        }
        .underline{
        width: 100%;
        height: 5px;
        background: #fadede;
        border-radius: 3px;
        position: absolute;
        top: 25px;
        left: 0;
        overflow: hidden;
        }
        .underline span{
          width: 15px;
          height: 100%;
          background: rgb(255, 217, 3);
          border-radius: 3px;
          position: absolute;
          top: 0;
          left: 10px;
          animation: moving 2s linear infinite;
        }
        @keyframes moving{
          0%{
            left: -20px;
          }
          100%{
            left: 100%;
          }
        }
        @media (max-width: 700px){
          footer{
            bottom: unset;
          }
    
   
}